@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
  color: var(--Dark);
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --Dark: #21243d;
  --Primary: #ff6464;
  --Secondary: #edf7fa;
  --mainFont: "Heebo", sans-serif;
}

button {
  padding: 10px 20px;
  background-color: var(--Dark);
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  scale: 1.1;
}

p {
  text-align: justify;
}

.container {
  padding: 40px 10%;
}

/* Navbar */
header {
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 5px 0 var(--Secondary);
  z-index: 9999;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .nav-navbar > ul {
  display: flex;
  gap: 40px;
  font-weight: bold;
}
/* Navbar End */

/* Hero */
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
}
.hero > article {
  flex-basis: 70%;
}
.hero article > div {
  margin-bottom: 20px;
}
.hero article div.judul {
  flex-direction: column;
  align-items: flex-start;
}
.hero article div.judul > h1 {
  font-size: 3rem;
}

.hero article > div.button {
  display: flex;
  gap: 30px;
}
.hero article div.button > button {
  padding-inline: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.hero > aside {
  display: flex;
  justify-content: flex-end;
}
.hero aside > img {
  border-radius: 50%;
  box-shadow: 0px 20px 0px 0px rgba(187, 225, 250, 0.25);
  max-width: 250px;
  cursor: pointer;
  transition: 0.3s ease;
}
.hero aside > img:hover {
  opacity: 0.75;
}
/* .hero aside {
  background: url("../img/Profile.jpg");
  background-position: center;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0px 20px 0px 0px rgba(187, 225, 250, 0.25);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero aside:hover {
  opacity: 0.5;
} */
/* Hero End */

/* Blog */
section.blog {
  background-color: var(--Secondary);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.judul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.judul > p {
  font-weight: 500;
  font-size: 1.3rem;
}
.blog > .konten {
  display: flex;
  gap: 20px;
}
.blog article > .konten {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.konten .tanggal-konten {
  display: flex;
  gap: 40px;
  font-size: 1.125rem;
}
/* Blog End */

/* Works */
.works {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 100px;
}
.isi-works {
  align-items: center;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: 0.3s ease;
}
.isi-works:hover {
  opacity: 0.75;
  scale: 1.01;
}
.isi-works > .img-works {
  flex-basis: 500px;
}
.isi-works .img-works > img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-size: cover;
  object-fit: cover;
}
.isi-works .content-works .tanggal-content {
  display: flex;
  gap: 50px;
}
.content-works {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Works End */

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Footer End */

/* Media Query */
@media screen and (max-width: 1023px) {
  .blog > .konten {
    flex-wrap: wrap;
  }
  .isi-works {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .nav-navbar {
    display: none;
  }
  nav > .resume {
    display: none;
  }
  .hero aside > img {
    border-radius: 10px;
    box-shadow: 20px 20px 0 var(--Secondary);
  }
  .hero {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 400px) {
  nav > .resume {
    display: none;
  }
  .hero article div.judul > h1 {
    font-size: 2rem;
  }
  .hero article > .button {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
  }
}
